.inputContainer {
  display: flex;
  align-items: center;
}

.inputContainer input {
  height: 5rem;
  width: 21.25rem;

  border: 0;
  padding-left: 1.875rem;
  
  color: var(--white);
  background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
  border-radius: 5px 0 0 5px;

  transition: border 0.2s;
}

.inputContainer input:hover {
  border: 1.5px solid #414aa3;
}

.inputContainer input:focus {
  border: 1.5px solid #414aa3;
}

.inputContainer input::placeholder {
  color: var(--text-highlight);
}

.inputContainer input:focus::placeholder {
  color: transparent;
}

.loginButton {
  height: 5rem;
  width: 5rem;

  border: 0;

  color: var(--white);
  background: var(--blue-dark);
  border-radius: 0 5px 5px 0;

  transition: background-color 0.2s;
}

.loginButtonActive {
  background: var(--green);
}