.overlay {
  background: rgba(242, 243, 245, 0.8);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--white);
  width: 100%;
  max-width: 400px;
  padding: 2rem 3rem 0;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

.container header {
  font-size: 8.75rem;
  font-weight: 600;
  color: var(--blue);
  background: url('/icons/levelup.svg') no-repeat center;
  background-size: contain;
}

.container strong {
  font-size: 2.25rem;
  color: var(--title);
}

.container p {
  font-size: 1.25rem;
  color: var(--text);
  margin-top: 0.25rem;
}

.container button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  border: 0;
  font-size: 0px;
}

.container footer a {
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-top: 1px solid var(--gray-line);
  border-radius: 0 0 5px 5px;
  padding: 1.75rem 0;
  margin: 2rem -3rem 0;
  
  background: #f5fcff;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
  color: var(--blue-twitter);
  font-weight: 600;
  font-size: 1.25rem;

  transition: all 0.2s;
}

.container footer a:hover {
  background: var(--blue-twitter);
  color: var(--white);
}

.container footer svg {
  margin-left: 1rem;
}