.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

.container aside main a:first-child::before {
  width: 0.25rem;
  height: 3.5rem;
  content: "";
  position: absolute;
  left: 0;
  border-radius: 0 5px 5px 0;
  background: var(--blue);
}

.container aside main a:last-child {
  opacity: 0.5;
}